<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="http://springboardfoundation.in/" target="_blank" class="neednet-header-link">Springboard Foundation</a></div>
  <span class="nav-tool-items">
    <a class="nav-link active" mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a class="nav-link active" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
     </span>
</mat-toolbar>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- credits 
<div class="text-center mt-4">
    <p>
        <a href="https://github.com/springboardfoundation" target="_top">Springboard Foundation - Resources</a>
    </p>
    <p>
        <a href="http://springboardfoundation.in/" target="_top">Springboard Foundation</a>
    </p>
</div>
-->