.networkForNeedTitle {
    margin: 24px 120px 11px 0;
    font-size: 3vw;
    font-family: Poppins;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    color:#2056ff;
}
.flex-container-forgetpassword-otp-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 5vw;
    background-color:#e3e9f4;
    background-size: cover;
}

.flex-item-left-signup-otp-form {
    background-color: transparent;
    padding: 16px;
    width: 50vw;
    font-family: Poppins;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #2056ff;
}
.flex-item-right-signup-otp-form {
    padding: 5dvh;
    border-radius: 10px;
    box-shadow: 0 18px 24px 0 rgba(21, 34, 81, 0.06);
    background-color: #fff;
}
.forget-password-main{
    display:flex;
    background-color: #265eff;
    justify-content: center;
    width:100%;
    height:100vh;
    align-items: center;
}
.link{
    text-decoration: none;
    color: #fff;
}
.error{
    color:#DC3545;
}
@media (max-width:800px){
    .flex-container-forgetpassword-otp-form{
        flex-direction:column;
    }
    .flex-item-left-signup-otp-form{
        width: 100vw;
    }
}

